<%= @game.attacker.name %> attacked <%= @game.victim.name %>!
<br><br>
It's super effective!
<br><br>
<%= @game.victim.name %> has <%= @game.victim.hit_points %>HP left
<a href="/play">End assault!</a>
<!-- <% @game.change_player %> -->
