body.index_page {
  font-family: 'Orbitron', sans-serif;
  width: 1000px;
  margin: 30px auto;
  text-align: center;
  background: url(http://i.giphy.com/V4sY8JCTxGyaI.gif) no-repeat center center;
  background-size: cover;
}

/*section.title {

}*/

h1.message {
  color: red;
  text-align: center;
}

section.name_form {

}

body.play_page {
  background: url(https://i.imgur.com/ce7Hb.png) no-repeat; center center;
  background-size: cover;
  color: white;
}

a {
  color: red;
  text-decoration: none;
  border: 1px solid red;
}

img.missed_gif {
  position: relative;
  left: 45em;
}
